.hero {
    display: flex;
    background-size: cover;
    background-color: #0C4CA2;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    flex-direction: column;
}
.any{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -60px;
}
.about{
    height: 100px;
    text-align: center;
    font-size: 50px;
    color: gold;
}
.heroimg{
    height: 50vh;
    width: 50vh;
    margin-bottom: 100px;
}
.aboutcard{
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 50px;
    height: 30vh;
    width: 60vw;
    display: flex;
    align-items: center;
}
.obj{
    height: 100px;
    text-align: center;
    font-size: 50px;
    color: gold;
    margin-top: -60px;
}
.ndall{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#nimg{
    height: 40vh;
    width: 40vh;
    margin-left: 20px;
}
.mission{
    height: 100px;
    text-align: center;
    font-size: 50px;
    color: gold;
}
.rdall{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.miss{
    height: 40vh;
    width: 40vh;
    margin-right: 60px;
    margin-bottom: 20px;
}


@media (max-width: 576px) {
    .any ,.ndall ,.rdall{
        width: 100vw;
    }
    .heroimg {
        height: 20vh;
        width: 20vh;
    }
    .aboutcard{
        font-size: 10px;
    }
    #nimg{
        height: 20vh;
        width: 20vh;
    }
    .miss{
        height: 20vh;
        width: 20vh;
    }
    .obj{
        margin-top: 0px;
    }
    .any{
        margin-top: 0px;
    }

}