table {
  margin-top: 80px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
    width: 100%;
}
.ong {
  color: black;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.com {
  color: #0c4ca2;
  text-decoration: underline;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #0c4ca2;
  color: white;
}
tr:nth-child(odd) {
  background-color: #dddddd;
  color: black;
}
.blue {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
  color: #0c4ca2;
  text-decoration: underline;
}
.center {
  margin-left: 35vw;
  font-size: 20px;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #0c4ca2;
  text-decoration: underline;
}
.tablelink1 {
  color: black;
}

.tablelink1:hover {
  color: black;
  text-decoration: none;
}
.tablelink {
  color: white;
}
.tablelink:hover {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .center {
    margin-left: 25vw;
    font-size: 10px;
    /* Reset margin for smaller screens */
  }
  
  th,
  td {
    font-size: 10px;
    padding: 10px;
  }
  h1 {
    font-size: 15px;
    margin-top: 90px;
    margin-left: 05vw;
  }
  th#lu{
    width: 5px !important;
  }
}
