.mfooter{
    background-color: #E6E0E0;
    height: 50vh;
    display:flex;
    align-items: center;
}
.flogo{
    width: 30vh;
    height: 12vh;
    border-radius: 0px;
    margin: 40px;
}
.lfooter{
    background-color:  #0C4CA2;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
margin-left: 0px;
color: #ffff;
}
.alllogo{
    display: flex;
    flex-direction: row;
}
.logos{
    height: 25px;
    width: 27px;
    margin-right: 10px;

}
#rssBlock{
    left:0px;
    height: 50px;
    background-color:  #055fd4;
    position: absolute;
    width:100%;
    overflow: hidden;
    margin-bottom: 0px;
  }
  .footerh3{

    font-size:16px;
  }
  .cnnContents {
    width:100%;
   
    margin:0 auto;
    margin-top: -25px;
    font-size: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Museo';
    font-weight: 300;
  }
  
  .marqueeStyle {
    display:inline-block;
    width: 100vw;
    color: #ffff;
    font-size: 15px;
    margin-bottom: 90px;
    -webkit-animation: scrolling-left1 12s linear infinite;
    animation: scrolling-left1 12s linear infinite;
  }
  
  @keyframes scrolling-left1 {
      0% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
        100% {transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
  }

.contact{
    margin: auto;
    margin-right: 80px;
}
.tele{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .mfooter {
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .flogo {
        width: 20vw;
        height: 5vh;
        margin: 10px;
    }
    .lfooter {
      
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .allogo{
        flex-direction: row;
      
    }
    .logos {
        height: 12px;
        width: 12px;
        margin: 0px 1x;
    }
    .contact {
        margin-right: 0;
        text-align: center;
        font-size: 10px;
    }
    .tele {
        height: 12px;
        width: 12px;
        margin-right: 0;
        margin-top: 5px;
    }
    .text{
        font-size: 8px;
        color: #ffff;
       margin-top: 1px;
    }
}
@media only screen and (max-width: 768px) {
    .cnnContents {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .marqueeStyle {
        font-size: 10px; /* Further reduce font size for smaller screens */
        margin-bottom: 10px; /* Adjust margin for better spacing */
    }
    .footerh3{
        font-size:12px;
        margin-top: 1px;
      }
}

