.all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.le, .mi{
    font-size: 30px;
    font-weight: bolder;
}
.im{
    height: 20vh;
    width: 20vh;
    margin-right: 20px;
}
.le{
    color: #0c4ca2;
}
.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.facultyhead{
    margin-top: 100px;
    text-align: center;
    color: #0c4ca2;
    font-size: 40px;
}
@media (max-width: 650px){
    .le,.mi{
        font-size: 10px;
    }
    .im{
        height: 10vh;
        width: 15vw;
}
}