.alloen {
    display: flex;
    flex-direction: column;  
    
}
.topimg{
    height: 50vh;
    width: 60vw;
    margin: 5vh 20vw;
}
.titleon,h2 {
    color: #0C4CA2;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.topna {
    color: #0C4CA2;
}
p{
    margin-left: 20px;
}
