
  .flex{
    display: flex;
    justify-content: space-around;
  }
  .ong1{
    color: #0C4CA2;
    text-decoration: underline;;
  }
  .com1{
    color: black;
  }
  table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
  tr:nth-child(even) {
    background-color: #0C4CA2;
    color: white;
  }
  tr:nth-child(odd) {
    background-color: #dddddd;
    color: black;
  }
  .blue{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
    color:#0C4CA2 ;
    text-decoration: underline;
  }
  .center{
    margin-left: 35vw;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .nav-elements ul a.active {
    font-style: Bold;
    color: #0C4CA2;
    font-weight: 500;
    position: relative;
}
@media only screen and (max-width: 600px) {
  /* Adjust styles for smaller screens */
  th, td {
      font-size: 12px; /* Example adjustment, you can tweak as needed */
  }
  th{
    height: 50px;
  }
}